body {
  background: radial-gradient(circle at top left, var(--bc-color-bg-gradient-start) 0%, var(--bc-color-bg-gradient-mid1) 35%, var(--bc-color-bg-gradient-mid2) 65%, var(--bc-color-bg-gradient-end) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}
